*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --color-base-background: linear-gradient(90deg, #190361 0%, #B0F 100%);
    --color-base-white: #fff;
    --color-base-text: #34355B;
    --color-base-cookie-text: #E4EDF1;
    --color-base-button: #FF9500;
    --color-base-button-hover: #edb25f;
}

body, button, input{ 
    font-family: 'Montserrat', sans-serif;
}

body{
    background: var(--color-base-background);
    color: var(--color-base-text);

    display: grid;
    place-items: center;

    height: 100vh;
}

main{ 
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

    margin-top: -12rem;

    width: 30rem;
    padding: 4.8rem 6.4rem;
    text-align: center;
}

.hide{
    display: none;
}

/* screem1 */
h1{ 
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1.4rem;
}

.screen1 p{
    font-family: DM Sans;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 2rem;
}


.screen1 img{ 
    width: 100%;
}

.screen1 img:hover{
    cursor: pointer;
    animation: shake 0.2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }

/* screen2 */ 

.screen2 p{
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    padding: 1rem;

    background: var(--color-base-cookie-text);
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50); 

    font-family: Dancing Script;
    font-weight: 400;

    font-size: 1.5rem;
    font-weight: 400;
}


.screen2 img {
    width: 100%;
    margin-bottom: 1.7rem;
}

.screen2 button{
    background: var(--color-base-button);
    
    color: var(--color-base-white); 
    font-family: DM Sans;
    border: 0;
    border-radius: .4rem;
    padding: 1.6rem;
}

.screen2 button:hover{
    background-color: var(--color-base-button-hover);
    cursor: pointer;
}